/**************important****************/
html {
    scroll-behavior: smooth;

}


body {
    margin: 0;
    padding: 0;

}

p {
    font-style: italic;
    font-size: 18px;
    font-family: Helvetica;
}

h2 {
    font-size: 40px;
    color: rgb(246, 0, 0);
}

/********************navbar*******************/

.link-active {
    animation-name: zoom-in-zoom-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.text-fx {
    padding-bottom: 50px;
    text-align: center;
    font-size: 40px;
    color: #1474bb;
    letter-spacing: 3px;
    font-weight: 1;
    text-transform: uppercase;
    animation: blur 2s ease-out infinite;
    animation-direction: alternate;
    text-shadow: 0px 0px 5px rgb(0, 234, 255), 0px 0px 7px rgb(0, 234, 255);
}

@keyframes blur {
    from {
        text-shadow: 0px 0px 10px rgb(0, 255, 255),
            0px 0px 10px rgb(0, 255, 251),
            0px 0px 25px rgb(0, 255, 251),
            0px 0px 25px rgb(0, 255, 251),
            0px 0px 25px rgb(0, 255, 251),
            0px 0px 25px rgb(0, 255, 251),
            0px 0px 25px rgb(0, 255, 251),
            0px 0px 25px rgb(0, 255, 251),
            0px 0px 50px rgb(0, 255, 251),
            0px 0px 50px rgb(0, 229, 255),
            0px 0px 50px #0073ff,
            0px 0px 150px #0073ff,
            0px 10px 100px #0073ff,
            0px 10px 100px #0073ff,
            0px 10px 100px #0073ff,
            0px 10px 100px #0073ff,
            0px -10px 100px #0073ff,
            0px -10px 100px #0073ff;
    }
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

p {
    font-size: 18px;
    font-style: italic;
}

h1 {
    color: white;
    font-size: 40px;
}

nav {
    height: 280px;
    align-items: center;
    list-style-type: none;
    padding: 20px;
    background-color: blue;
    background: linear-gradient(blue, white);
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 150px;
    transition: transform 0.1s;
}

header img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/*************************main******************/

main {
    padding: 200px;
    background: linear-gradient(white, blue, white);
}

article {
    padding: 20px;
    margin: 100px;
}

.aside-uni {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-radius: 20px;
    margin: 20px;
    background: linear-gradient(blue, white);
}

article img {
    width: 300px;
    height: 300px;
    border-radius: 60%;

}

.center {
    display: flex;
    align-items: center;


}

.center img {
    width: 300px;
    height: 300px;
    border-radius: 70%;
    padding: 100px;
}

.aside {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.aside article {

    width: 40%;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-radius: 20px;
    background: linear-gradient(white, blue, white);
}

.aside article ul {
    display: inline;
}

.grart {
    margin: 20px;
    text-align: center;
    border-bottom: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-radius: 20px;
    background: linear-gradient(blue, white);
}

.retour {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.vol {
    animation-name: glissement;
    animation-duration: 1.6s;
    animation-iteration-count: 1;
}

@keyframes glissement {
    from {
        bottom: 0;
    }

    to {
        bottom: 4000px;
    }
}


/***********************footer*****************************/
footer {
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: linear-gradient(white, blue);
}

footer h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow:
        0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);

}

/***************responsive****************************/
@media screen and (max-width: 600px) {



    h1 {
        color: white;
        font-size: 40px;
    }


    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 100%;

    }

    header img {
        height: 100px;
    }

    header {
        padding-bottom: 200px;
    }


    /*************************main******************/

    main {
        padding: 0;
    }

    article {

        margin-bottom: 200px;
        width: auto;
        padding-bottom: 200px;
    }



    article img {
        width: 200px;
        height: 200px;

    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

    }

    .center img {
        width: 400px;
        height: 400px;
    }

    .aside {
        display: flex;
        flex-direction: column;

        text-align: center;

    }

    .aside article {

        width: auto;

    }

    .aside article ul {
        display: inline;
    }

    .aside-uni {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-bottom: solid 1px;
        border-left: solid 1px;
        border-right: solid 1px;
        border-radius: 20px;
        margin: 0;
    }

    .grart {
        margin: 0;
        padding: 10px;
        text-align: center;
        border-bottom: solid 1px;
        border-left: solid 1px;
        border-right: solid 1px;
        border-radius: 20px;
    }

    .grart article {
        width: auto;
        padding: 0;
        margin: 0;
    }

    .retour img {
        width: 100px;
    }

    .vol {
        animation-name: glissement;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
    }

    @keyframes glissement {
        from {
            bottom: 0;
        }

        to {
            bottom: 6000px;
        }
    }

    /***********************footer*****************************/
    footer {
        padding: 20px;
        align-items: center;
        justify-content: none;

    }

    footer img {
        width: 150px;
    }

    footer h2 {
        padding: 0px;
        display: flex;
        justify-content: center;
        font-size: 10px;
        align-items: center;

    }
}

/************************************************************************************************************/
@media screen and (max-width: 1000px) {
    .aside {
        display: flex;
        flex-direction: column;
    }

    .align-article {
        margin: 50px;
    }

    footer img {
        width: 100px;
    }

    .retour img {
        width: 100px;
    }

    article img {
        width: 100px;
        height: 100px;

    }


    header img {
        height: 100px;
    }


    div {
        display: flex;
        justify-content: center;
    }

  

}

@media screen and (max-width: 1800px) {
   
    article {
        margin: 0;
    }
}

@media screen and (max-width: 1500px) {

    header {
        padding-bottom: 200px;
    }
    main {
        padding: 0;
    }
    
    .aside {        
        flex-direction: column;
        align-items: center;
    }

    
}